<h1>FORTUNE TELLER</h1>
<img src="http://freedomwatch.ipa.org.au/wp-content/uploads/2013/11/gypsy-fortune-teller.jpg">
<%=@fortune%>
<%=@less_than_fifty%>
<%=@less_than_hundred%>
<%=@less_than_twohundred%>