<h1>FORTUNE TELLER</h1>
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQpWGV8UXkZ1tNMXAqagCrGBsjAQngKG0--sxnF8FxXwjTqF9yM">
<%=@fortune%>
<%=@less_than_fifty%>
<%=@less_than_hundred%>
<%=@less_than_twohundred%>