<h1>Checkout</h1>
<p>Here are the items you'd like to check out:</p>

<table>
  <tr>
    <th>Product----------|</th>
    <th>Brand----------|</th>
    <th>Price----------|</th>
  </tr>
  <tr>
    <td><%= @products.name %></td>
    <td><%= @products.brand %></td>
    <td><%= @products.price %></td>
  </tr>
</table>

<p> Please check the items in your cart and press confirm to order. </p>