<div class="container">
<div class="learn-more">
  <div class="container">
  
<h1>Zypee powered app</h1>
<h2>Have you ever gone to the grocery store with a hand written list that your partner gave you over the phone? As you walk into the store you look at the list and ask yourself,</h2> 
<ul>
<h4><li>"Where in the world is this stuff?"</li></h4>
<h4><li>"How much is it going to cost me?"</li></h4>
<h4><li>"Which brand am I supposed to get?"</li></h4>
</ul>
<h2>and the list go ons!</h2>
<h1><strong>WELL!,</strong></h1><h3> .... now you can you solve all thoses issues with our grocery list powered by Zypee!</h3>
<h3>With Zypee you can simply create a list on our website and access it when you reach the store, right from your phone.</h3><h3>When you create a list you can choose from our many choices, or filter your search to a specific brand, department, product and more. When you find the items you would like, simply add them to your list. As you place the item in your list, the list will automatically update your total cost as well as sort the items in your list by the isle they belong. That way you will always walk through the store in the most efficient path to find all of your listed items. If you have over spent your budget, no problem, just delete or change the item(s) you need to delete or change and the list will automatically update again for you.</h3>
<h1>Try Zypee today to see how it can make your day much easier!</h1>
  </div>
</div>
<br/>
<%= link_to 'Back to products', products_path %>
<br/>
</div>
<br/>