
@import "bootstrap-sprockets";
@import "bootstrap";
body {
    background-image: url('christmas.jpg');
       
}
h1#index{
  color: red;
}
/*table#product_table {
  margin: 40px 0px;

  td, th {
    padding: 2px 10px;
  }
}*/
a {
color: white;
text-decoration: none;
font-weight: 800;
font-size: 1.3em;
}