
@import "bootstrap-sprockets";
@import "bootstrap";
body {
    background-image: image-url('christmas.jpg');
       
}
h1#index{
  color: red;
}
/*table#product_table {
  margin: 40px 0px;

  td, th {
    padding: 2px 10px;
  }
}*/
