<div class="container">
<h1>Edit Product</h1>
<% if user_signed_in? && current_user.admin %>
  <%= render "form" %>
<% end %>      
  <div>
    <%= link_to 'Cancel', products_path %>
  </div>
<br/>
</div>